.single {
    padding: 2px 16px;
    background-color: #ddd;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    text-decoration: none;
    color:black;
}

.single:hover {
    border-left: 8px solid #4979ff;
}



.description {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}


/* Photo.module.css */
.photocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
  }
  
 .users {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
 }


 .button {
     align-self: flex-start;
     padding: 1rem;
     background-color: #ddd;
     border: none;

  }
  .button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }